---
import EventCard from "../components/EventCard.astro";
import "../styles/global.css";
import cdImage from "../../public/img/cd_290825.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";

const events = [
  {
    date: "29 agosto 2025",
    venue: "Sala Martín Gala (Club Hípico)",
    city: "Valencia, VE",
    price:  "$10",
    image: cdImage,
    url: "/tickets",
  },
];
---

<BaseLayout subText="Próximos eventos">
  <div class="flex flex-col lg:flex-row gap-4 w-full lg:w-4/12 mx-auto">
    {
      events.map((event) => (
        <EventCard
          date={event.date}
          venue={event.venue}
          city={event.city}
          price={event.price}
          image={event.image}
          url={event.url}
        />
      ))
    }
  </div>
</BaseLayout>
