---
import EventCard from "../components/EventCard.astro";
import "../styles/global.css";
import gdcdImage from "../../public/img/gd_cd.jpg";
import gritoImage from "../../public/img/grito_2.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";

const events = [
  {
    date: "27 septiembre 2025",
    venue: "Escenario Bar",
    city: "Valencia, VE",
    price:  "$7",
    image: gdcdImage,
    url: "/tickets",
  },
  {
    date: "31 octubre 2025",
    venue: "TBA",
    city: "Valencia, VE",
    price: null,
    image: gritoImage,
    url: "https://www.instagram.com/reel/DOMVDlnErmj/",
  },
];
---

<BaseLayout mainText="Calendario" subText="">
  <div class="flex flex-col lg:flex-row gap-4 w-full lg:w-4/12 mx-auto">
    {
      events.map((event) => (
        <EventCard
          date={event.date}
          venue={event.venue}
          city={event.city}
          price={event.price}
          image={event.image}
          url={event.url}
        />
      ))
    }
  </div>
</BaseLayout>
