---
import Avatar from "./Avatar.astro";
import TitleBlock from "./TitleBlock.astro";

const { src1 = "../img/logo_gd.png", alt1 = "Good Days Logo", src2 = "../img/logo_transparent.png", alt2 = "Club Doméstico Logo" } =
  Astro.props;

interface Props {
  mainText?: string;
  subText?: string;
}

const { mainText, subText } = Astro.props;
---

<div class="flex flex-col gap-4">
    <div class="flex justify-center items-center gap-4 pt-2">
        <a href="/">
            <img
            id="gd-logo"
            src={src1}
            alt={alt1}
            class="rounded-full h-28 w-28 lg:h-32 lg:w-32 border-3 border-white bg-white shadow-black shadow-md/50"
            />
        </a>
        <span class="font-light text-3xl lg:text-4xl text-white">X</span>
        <a href="/">
            <img
            id="cd-logo"
            src={src2}
            alt={alt2}
            class="rounded-full h-28 w-28 lg:h-32 lg:w-32 border-3 border-white bg-white shadow-black shadow-md/50"
            />
        </a>
    </div>
  <TitleBlock mainText={mainText} subText={subText} />
</div>

<style>
    #gd-logo {
        border-color: #ffff00;
    }
</style>