---
const {
  mainText = "Club Doméstico",
  subText = "Electro y afecto en formato DIY 👽",
} = Astro.props;
---

<div class="flex flex-col gap-1 items-center text-white">
  <!-- <h1
    class="glitch heading font-[800] uppercase text-[2rem] xs:text-[2.25rem] xl:text-[2.5rem] 2xl:text-4xl italic relative text-shadow-lg"
    data-text={mainText}
  >
    {mainText}
  </h1> -->
  <h1
    class="glitch heading font-[800] uppercase text-[2.25rem] sm:text-[2.5rem] xl:text-[2.75rem] 2xl:text-5xl italic tracking-tighter relative text-shadow-black text-shadow-md/50"
    data-text={mainText}
  >
    {mainText}
  </h1>
  {
    subText && (
      <h2 class="text-lg sm:text-xl 2xl:text-2xl text-shadow-lg font-semibold">
        {subText}
      </h2>
    )
  }
</div>
